.btn {
    padding: 12px 40px;
    display: inline-block;
    font-size: 18px;
    @include border-radius(90px);
    @include transition(.3s);

    &__primary {
        @extend .btn;
        background-color: $primary;
        color: $color-primary-text-button;
        font-size: 18px;
        line-height: 156%;
        font-weight: 700;
        letter-spacing: 0.09px;

        svg {
            vertical-align: middle;
        }

        &:hover {
            background: $primary-hover;
        }

        &--border {
            @extend .btn;
            background: transparent;
            border: 1px solid $primary;
            color: $primary;

            &:hover {
                border: 1px solid $primary-hover;
                color: $primary-hover;
            }
        }
    }
}