@import '_variables';
@import '_mixins';
@import '_grid';
@import '_buttons';
@import '_inputs';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    font-weight: 400; // Considerar si esto es necesario globalmente o mejor en body/elementos específicos
    outline: 0; // Cuidado con la accesibilidad, considerar :focus-visible para outlines
}

body {
    margin: 0;
    overflow-x: hidden; // Asegúrate de que esto no oculte contenido accesible horizontalmente de forma no intencionada
    width: 100%;
    font-family: $primary-text; // Fuente primaria aplicada al body
    color: $text-color; // Asumiendo que tienes una variable $text-color en _variables.scss
    line-height: 1.6; // Una buena práctica para la legibilidad
}

button {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 0;
    outline: 0;
    box-shadow: 0px;
}

input {
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

.hide-on-small-only {
    display: none !important;

    @include tablet {
        display: block !important;
    }
}

.hide-on-medium-only {
    display: none;

    @include tablet {
        display: block;
    }
}

.hide-tablet-on-up {
    display: inline-block;

    @include tablet {
        display: none !important;
    }
}

#contenido {
    overflow-x: hidden;
    min-height: 100vh;

    @include desktop {
        overflow: initial;
    }
}

.container {
    padding-top: 48px;
    padding-bottom: 48px;

    @include tablet {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @include desktop {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}